flask==3.0.3
flask-cors==5.0.0
flask-openapi3==3.1.3
SQLAlchemy[postgresql-psycopg]==2.0.32
httpx[http2]==0.27.2
alembic==1.13.2
strenum==0.4.15
sentry-sdk==2.13.0
grpcio==1.66.1
gunicorn==23.0.0
python-dotenv==1.0.1
uuid7==0.1.0
passlib==1.7.4
argon2-cffi==23.1.0
webauthn==2.1.0
pyrad==2.4
pyjwt[crypto]==2.9.0

pydepinj @ git+https://github.com/thebmw/pydepinj.git@v0.4.0